/* Webfont: Amsterdam-Brush */@font-face {
    font-family: 'AmsterdamBrush';
    src: url('Amsterdam Brush.eot'); /* IE9 Compat Modes */
    src: url('Amsterdam Brush.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Amsterdam Brush.woff') format('woff'), /* Modern Browsers */
         url('Amsterdam Brush.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

