/* Webfont: Amsterdam-Brush */@font-face {
    font-family: 'AmsterdamBrush';
    src: url('https://github.com/Webmediascript/fonts/blob/main/Amsterdam%20Brush.eot?raw=true'); /* IE9 Compat Modes */
    src: url('https://github.com/Webmediascript/fonts/blob/main/Amsterdam%20Brush.eot?raw=true#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://github.com/Webmediascript/fonts/blob/main/Amsterdam%20Brush.woff?raw=true') format('woff'), /* Modern Browsers */
         url('https://github.com/Webmediascript/fonts/blob/main/Amsterdam%20Brush.ttf?raw=true') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

